<html>
    <head>
        <title>Chat App with Django-channels!</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
        <meta name="viewport" content="user-scalable=no, width=device-width">
    </head>
<body>
    <div id="chat" class="control">
        
    </div>

    <div id="text-box">
        <input type="text" placeholder="message" id="msg" class="text-message">
        <button type="submit" class="submit-btn" id="submit">>>></button>
    </div>

    
    
    <script type="text/javascript" src="{% static 'chat/js/chat.js' %} "></script>
</body>
</html>