{% extends 'public/base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div id="message"></div>
    <div class="form-group">
        <label for="room_code" class="mb-2">Room Code :</label>
        <p>
            <input type="text" id="room_code" class="input-room">
            <button type="submit" class="btn btn-outline-dark" id="go">Check</button>
        </p>
    </div>
    <p>You can <a href="{% url 'chat:create_room' %}" class="text-danger">make your own room!</a></p>
</div>

    <script type="text/javascript" src="{% static 'chat/js/script.js' %}"></script>
{% endblock %}