<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">Django Chat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent">
            -
        </button>
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link text-dark">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark">Account</a>
                </li>
            </ul>
        </div>
    </nav>
</div>